<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title | default: 'Min Gao' }}</title>
    <link rel="icon" type="image/png" href="images/fudan_logo_blue.png">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <main class="container">
      {{ content }}
    </main>
    <footer class="container" style="margin:24px auto 0;text-align:right">
      <small>Modified from <a href="https://jonbarron.info/">Jon Barron</a></small>
    </footer>
  </body>
</html>
